<!DOCTYPE html>
<html>
<head>
<title>Mario's Cookbook</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/recipe.css">
<link rel='stylesheet' href='../static/css/fonts.css'>
</head>

<body class="background-color">

<!-- Page Container -->
<div class="page-container">

  <!-- The Grid -->
  <div class="grid">
  
    <!-- Left Column -->
    <div class="left-column">
    
      <div class="left-container">
        <div class="photo-container">
          <img src="../{{ recipe.photo }}" class="img-picture" alt="Photo">
          {% if recipe.favorite %}
          <img src="../static/img/favorite.png" class="img-favorite" alt="Favorite">
          {% endif %}
        </div>
        <div class="details-container">
          <h2 class="name-text">{{ recipe.name }}</h2>
          <div class="image-text">
            <img src="../static/img/prepTime.png" class="img-details"> 
            <span>Prep. time: {{ recipe.prepTime }}</span>
          </div>
          <div class="image-text">
            <img src="../static/img/cookingTime.png" class="img-details"> 
            <span>Cooking time: {{ recipe.cookingTime }}</span>
          </div>
          <div class="image-text">
            <img src="../static/img/servings.png" class="img-details"> 
            <span>Servings: {{ servings }}</span>
          </div>

          {% if recipe.videoURL != '' %}
            <div class="image-text">
              <a href= {{ recipe.videoURL }} target="_blank"><img src="../static/img/videoURL.png" class="img-details"> Video</a> 
            </div>
          {% endif %}
          
          {% if recipe.sourceURL != '' %}
          <div class="image-text">
            <a href={{ recipe.sourceURL }} target="_blank"><img src="../static/img/sourceURL.png" class="img-details"> Source</a> 
          </div>
          {% endif %}
          
          <hr>
          
          <div class="form">
            <form action="/recipe/{{recipe.name}}&scaling={{scaling}}" method="POST">
              <label for="fname">Scaling x</label>
              <input type="number" step="0.001" id="scaling" name="scaling" placeholder="{{ scaling }}" style="width: 100%;">
            </form>
          </div>
          
          <hr>
          <div class="image-text">
            <img src="../static/img/ingredients.png" class="img-ingredients">
            <span class="ingredients-text">Ingredients</span>
          </div>
          <ul>
            {% for i in n_amounts %}
              {% if amounts[i] != 0 and recipe.ingredients[i].unit != ''%}
                <li><strong>{{ amounts[i] }} {{ recipe.ingredients[i].unit }} </strong> {{ recipe.ingredients[i].name }}</li>
              {% elif amounts[i] != 0 and recipe.ingredients[i].unit == ''%}
                <li><strong>{{ amounts[i] }} </strong> {{ recipe.ingredients[i].name }}</li>
              {% else %}
              <li>{{ recipe.ingredients[i].name }}</li>
              {% endif %}
            {% endfor %}
          </ul>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="right-column">
    
      <div class="steps-container">
        <!-- <hr> -->
        <div class="image-text">
          <img src="../static/img/steps.png" class="img-steps">
          <span class="steps-title">Steps</span>
        </div>
        <div class="inside-container">
          {% for step in steps %}
            <p>{{ step }}</p>
          {% endfor %}
        </div>
      </div>


    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<!-- Footer -->
<footer class="footer">
  <p class='footer-item'>👨‍🍳 Mario's Cookbook 👨‍🍳</p>
  <div class='footer-grid'>
    <div class='footer-item'><a href= "/"> Home</a></div>
    <div class='footer-item'><a href= '/edit/{{recipe.name}}'> Edit this recipe</a></div>
    <div class='footer-item'><a href= "/new/"> Create new recipe</a></div>
  </div>
</footer>
</body>
</html>
